.fa-linkedin,.fa-facebook,.fa-instagram{
    font-size: 25px;
    margin-top:20px;
    margin-right:20px;
    color:white;
}
a{
    text-decoration: none;
    color:black;
}
.links{
    font-size: 18px;
    line-height: 30px;
    color:white;
}
.fa-arrow-right,.fa-phone,.fa-envelope,.fa-map-marker-alt{
    color:rgb(14, 153, 14);
}
#contact{
    background-color: black;
    color:white;
}