.fa-user{
    font-size: 29px;
    color:rgb(235, 38, 71);
    border-radius: 50%;
}
.fa-shopping-cart{
    font-size: 24px;
    color:rgb(19, 138, 19);
    border-radius: 50%;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}